<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url(/images/parallax/parallex1.jpg);">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">About Us</li>
            </ol>
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- All icons -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="lined-heading mt50"><span>About Us</span></h2>
      <p>AHA­Rooms is founded on the principal of smarter stay. Users of our services are guaranteed to
enjoy the basic facilities which a traveller expects to have in order to have a comfortable and
problem free stay in Hotels and Guest Houses in Mallorca. First of its kind innovative concept in
the Travellers paradise Mallorca!</p>
        <p>
            Our motive: Get a comfortable stay with a predictable experience! That means you are provided
what is promised...
        </p>
        <p>
All AHA­Rooms are:
        </p>
        <h3>
Standardized
        </h3>
        <p>
Same predictable experience across all AHA network rooms like:
        </p>
        <p>
<i class="fa fa-globe"></i>
 Unlimited Wi­Fi
        </p>
        <p>
<i class="fa fa-globe"></i>
 Comfortable Beds
        </p>
        <p>
<i class="fa fa-globe"></i>
 Clean wash rooms
        </p>
        <p>  
<i class="fa fa-globe"></i>
 Complimentary Breakfast
        </p>
        <p>
<i class="fa fa-globe"></i>
 SAT TV
        </p>
        <p>
<i class="fa fa-globe"></i>
 And many more....
        </p>
        <h3>Affordable</h3>
        <p>
A smarter stay to with way cheaper market rates. 
        </p>
        <h3>Technologically equipped</h3>
      <p>
AHA­Rooms uses technology to link all its functions and provide the customer a memorable
experience.<br><br>
AHA­-Rooms
<br>
Stay Smart!
        </p>
        <h3>AHA­Rooms</h3>
        <p>
Cami Blanc 14<br>

 Campanet 07210 Mallorca Spain<br>

<a href="contact-01.html">0034971509183,0034603145782</a><br>

<a href="mailto:info@aha-rooms.com">info@aha­rooms.com</a><br>

<a href="contact-01.html">www.aha­rooms.com</a><br>
        </p>
    </div>
  </div>
</div>
