<div class="form-inline clearfix">
	<div class="nested-fields">
	<%= f.collection_select :name, MainFeature.all, :name, :name,{}, {:class => "form-input form-control"} %>
		
		<%= link_to_remove_association "Remove", f, class: "form-button btn btn-default" %>
	</div>
</div>